
<main role="main" class="flex-shrink-0">
<!--  <div class="mt-5" id="app"></div>-->
<!--  <div class="mt-5" id="app" data-react-props="{'kod': 'sar'}"></div>-->
  <div class="mt-5" id="app" data-react-props='{"message": "kodsar"}'></div>
</main>

<%#= javascript_pack_tag 'hello_typescript' %>
<%#= javascript_pack_tag 'hello_react' %>
<%= javascript_pack_tag 'src/App' %>
