<!------->
<!--layout: examples-->
<!--title: Sticky Footer Navbar Template-->
<!--extra_css: "sticky-footer-navbar.css"-->
<!--html_class: "h-100"-->
<!--body_class: "d-flex flex-column h-100"-->
<!------->

<!-- Begin page content -->
<main role="main" class="flex-shrink-0">
<!--  <div class="container">-->

    <h1 class="mt-5 well">Wiki Grapher</h1>
    <p class="lead well">Render template etc
<!--      <br>-->
      with <code>wiki_graph</code>.
    </p>

    <%#= render 'welcome/body' %>
    <%= render 'welcome/body_async' %>

<!--    <p>Back to <a href="{{ site.baseurl }}/docs/{{ site.docs_version }}/examples/sticky-footer/">the default sticky footer</a> minus the navbar.</p>-->
<!--  </div>-->
</main>

<!--footer-->
<!--<footer class="footer mt-auto py-3">-->
<!--  <div class="container">-->
<!--    <span class="text-muted">Sticky footer.</span>-->
<!--  </div>-->
<!--</footer>-->
