<%= form_with(model: preview, local: true) do |form| %>
  <% if preview.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(preview.errors.count, "error") %> prohibited this preview from being saved:</h2>

      <ul>
      <% preview.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>

  <div class="form-group">
    <label for="rte">RTE Link</label>
    <textarea class="form-control" id="rte"
              placeholder=""
              rows="5" name="wikiinput[sections]"></textarea>
  </div>
<%#= f.submit %>
  <button type="submit" class="btn btn-primary my-1">Submit</button>

<% end %>
